:root {
  /* Color */
  --white-color: #fff;
  --black-color: #0f0402;
  --blue-color: #3993e9;
  --yellow-color: #fcd514;
  --pink-color: #ff9fed;
  --mint-color: #5edab9;
  --dark-gray-color: #838383;

  /* Size */
  --padding-small-size: 8px;
  --padding-medium-size: 14px;
  --margin-size: 12px;
  --button-size: 60px;
  --border-size: 5px;
  --thumbnail-size: 50px;
  --logo-size: 80px;

  /* Font Size */
  --font-small-size: 12px;
  --font-medium-size: 14px;
  --font-large-size: 16px;

  /* Animation */
  --animation-duration: 300ms;
}

body {
  width: 100%;
  background-color: var(--mint-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 100vh; /* 윈도우의 100% */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono';
}

.container .spanAndLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .spanAndLogo .text {
  color: var(--dark-gray-color);
}

.container .spanAndLogo .logo {
  width: var(--logo-size);
  height: var(--logo-size);
  margin-top: calc(var(--margin-size) * 3);
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}

.btn:hover,
.logo:hover {
  transform: scale(1.1);
}

/* Buttons */
.btn {
  background-color: transparent;
  border: none;
  outline: none;
  transition: transform var(--animation-duration) ease;
  cursor: pointer;
  margin-right: var(--margin-size);
}

.imgBtn {
  width: var(--button-size);
  height: var(--button-size);
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0;
}

.sizeBtn,
.colorBtn {
  font-size: var(--font-large-size);
  padding: var(--padding-medium-size);
  border-radius: var(--border-size);
}

.buttons .blue {
  background-color: var(--blue-color);
}

.buttons .yellow {
  background-color: var(--yellow-color);
}

.buttons .pink {
  background-color: var(--pink-color);
}

.buttons .sizeBtn {
  background-color: var(--white-color);
}

/* Items */
.container .items {
  width: 100%;
  height: 50%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.container .items .item {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  padding: var(--padding-small-size);
  margin-bottom: calc(var(--margin-size) * 0.6);
  border-radius: 6px;
}

.container .items .item.invisible {
  display: none;
}

.container .items .item__thumbnail {
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
}

.container .items .item__description {
  margin-left: var(--margin-size);
  font-size: var(--font-medium-size);
}

/* Tablet */
@media screen and (max-width: 780px) {
  .container {
    width: 70%;
  }
}

/* Mobile */
@media screen and (max-width: 420px) {
  .container {
    width: 80%;
  }

  .container .spanAndLogo .text {
    font-size: 12px;
  }

  .container .spanAndLogo .logo {
    width: calc(var(--logo-size) * 0.8);
    height: calc(var(--logo-size) * 0.8);
  }

  .container .buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .imgBtn {
    width: calc(var(--button-size) * 0.6);
    height: calc(var(--button-size) * 0.6);
  }

  .sizeBtn,
  .colorBtn {
    font-size: calc(var(--font-large-size) / 2);
    padding: calc(var(--padding-medium-size) * 0.7);
  }

  .container .items {
    margin-top: 30px;
  }
}
